.right-side{
  background-color: red;
  float: right;
  margin-right: 10%;
  width: 40%;
  height: 550px;
}
.score{
  margin-left: 60%;
  font-size: 150px;
}

button{
  background-color: transparent;
  color: white;
  font-weight: bolder;
  margin: 5px;
}
.sqr{
  border: 2px solid white;
  padding: 10px;
  margin-left: 40px;
}

.circle{
  border: 2px solid white;
  padding: 15px;
  border-radius: 50%;
}

button:hover{
 background-color: gray;
}
.add{
  border: 1px solid white;
  background-color: darkred;
  padding: 6px;
  margin-top: 50px;
}

.minus{
  border: none;
  color: black;
}

.undo{
  position: absolute;
  margin-left: 430px;
}


