<div class="container">
  <section class="text-center">
    <label style="font-size: 24px;">Division:</label>
    <input placeholder="Write your division here." type="text">
  </section>
  <button class="btton"><span style="font-size: 16px;">Close</span></button>
  <span class="left">
    <label class="ao" for="">Ao</label>
    <input placeholder="Write the Ao name here" type="text">
  </span>
  <span class="right">
    <label class="aka" for="">Aka</label>
    <input placeholder="Write the Aka name here" type="text">
  </span>
</div>
